/* Leticia Martinez */
/* Adapted from my preview classes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
    line-height: 1.6;
    background-color: #cbc7e0;
    color: #e2e6d1;
  }
  
 header {
    background-color: #4480aa;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-radius: 5px;
  }
  header h1 {
    margin: 0;
display: grid;
}
  
  nav ul {
    list-style: underline;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 0 10px;
    font-size: larger;
    }
  
nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  main {
    padding: 30px;
  }
    section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #409039;
    border-radius: 5px;
  }
  
  footer {
    background-color: #4480aa;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 5px;
  }
  
  /* For Tablet size */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    nav ul li {
      display: block;
      margin: 5px 0;
    }
  
section {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    header {
      font-size: 18px;
    }
  section {
      padding: 8px;
    }
  
      footer {
      font-size: 14px;
    }
  }
  