body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b6f5f1;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    background: #7fcdfb;
    padding: 20px;
    border-radius: 5px;
   }
h1 {
    color: #333;
}
label {
    font-size: 20px;
   }

   input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #1e00ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

button:hover {
    background-color: #0c0c19;
}
.results {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

    .results p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 15px;
    background-color: #e5dada;
    border: 2px solid #5b4848;
    border-radius: 8px;
    width: 120px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}



/* For medium screens-tablet) */
@media (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .container {
        width: 90%;
    }

.results {
        flex-direction: column; 
        align-items: center;
    }
 .results p {
        width: 100%;}
 input, button {
        width: 100%; 
        font-size: 14px;
    }
}

/*For mobile devices screens */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .container {
        width: 90%;
    }
  .results {
        flex-direction: column; }
    

  .results p {
        width: 100%;
        font-size: 20px; 
        margin: 5px 0; 
    }



    input, button {
        width: 100%;
        font-size: 12px; 
        padding: 8px; 
    }
button {
        border-radius: 3px; 
    }
}
